html, body {
  background-color: #FFF;
}
body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.page-header {
  height: 40px;
}
.logo-container {
  > .logo {
    height: 100%;
    vertical-align: middle;
  }
  > .logo-text {
    font-weight: bold;
  }
  height: 100%;
}
.light-text {
  font-weight: 300;
}
